// @import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// :root {
//     --background-primary: #0c0a0a;
//     --primary: #ec0101;
//     //input
//     --background-default-input: #2d2c2c;
//     --background-disable-input: #242222;
//     --text-default-input: #848383;
//     --text-value-input: #edebeb;
//     --border-typing-input: #848383;
//     --border-focus-input: #5d5c5c;
//     --border-error-input: #eb3942;
//     --border-success-input: #44ed70;
//     --border-disable-input: #2d2c2c;

//     //Button

//     --button-primary-solid-button-hover: rgba(236, 1, 1, 0.8);
//     --button-primary-solid-button-active: rgba(236, 1, 1, 0.6);
// }

// * {
//     box-sizing: border-box;
// }

// // html {
// //     // font-size: 62.5%;
// // }

// body {
//     font-size: 1.6rem;
//     line-height: 1.5rem;
//     text-rendering: optimizeSpeed;
//     margin: 0;
//     overflow-y: overlay;
//     padding: 0;
//     background-color: var(--background-primary) !important;
//     color: white !important;
//     font-family: 'Roboto', sans-serif;
// }

// img {
//     display: block;
// }

// a {
//     color: var(--black);
//     text-decoration: none;
// }

// button,
// input,
// [tabindex] {
//     outline: none;
//     border: none;
//     padding: 0;
//     background-color: transparent;
// }
